{% extends 'base.html' %} 
{% block title %}{{user.first_name}}'s dashboard{% endblock %}
{% block content %}
<h1>Create Group / Contact</h1>

{% if user.contacts %}
<div class="card mt-1">
  <div class="card-header">
    <h3 class="h4">Groups</h3>
  </div>
  <div class="card-body">
    <a href="/users/{{user.id}}/groups/create" class="btn btn-primary"
      >Create Group</a
    >
    {% include '/users/include/list-group.html' %}
  </div>
</div>
{% endif %}
<div class="card mt-1">
  <div class="card-header">
    <h2 class="h4">Contacts</h2>
  </div>
  <div class="card-body">
    {% if not user.contacts %}
    <h2 class="h5">You contact list is empty. Create contact to start sending message.</h2>
    {% endif %}
    <a href="/users/{{user.id}}/contacts/create" class="btn btn-primary"
      >Create Contact</a
    >
    {% include '/users/include/list-contact.html' %}
  </div>
</div>

{% endblock %}
