{% extends 'base.html' %} 
{% block title %}{{user.first_name}}'s dashboard{% endblock %}
{% block content %}
<h1 class="text-center">Your Contacts and Groups</h1>
{% if not user.is_valid %}
<div class="alert alert-warning" role="alert">
  Verification code is sent to your email. Please <a href="/users/{{user.id}}/verify">verify email</a> before you can send emails.
  
  <br>
  You can continue to add contacts and create groups.
</div>
{% endif %}
{% if user.contacts %}
<div class="card mt-5">
  <div class="card-header">
    <h3 class="h4">Groups</h3>
  </div>
  <div class="card-body">
    <a href="/users/{{user.id}}/groups/create" class="btn btn-primary"
      ><i class="fa fa-users mr-1" aria-hidden="true"></i>Create Group</a
    >
    {% include '/users/include/list-group.html' %}
  </div>
</div>
{% endif %}
<div class="card mt-5">
  <div class="card-header">
    <h2 class="h4">Contacts</h2>
  </div>
  <div class="card-body">
    {% if not user.contacts %}
    <h2 class="h5">Create contact to start sending message.</h2>
    {% endif %}
    <a href="/users/{{user.id}}/contacts/create" class="btn btn-primary"
      ><i class="fa fa-address-card mr-1" aria-hidden="true"></i>Create Contact</a
    >
    {% include '/users/include/list-contact.html' %}
  </div>
</div>

{% endblock %}
